@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply dark:bg-[#1a1a1a] bg-white;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"],
input[type="number"]:hover,
input[type="number"]:focus {
  appearance: none;
  -moz-appearance: textfield;
}

.active-word {
  @apply border-t border-t-transparent border-b border-b-blue-400 animate-blink-underline transition-all;
}

.active-word-no-pulse {
  @apply border-t border-t-transparent border-b border-b-transparent;
}

.error-word {
  @apply border-b border-t border-t-transparent border-b-red-500;
}

.char {
  @apply border-l border-l-transparent border-r border-r-transparent;
}

.correct-char {
  @apply border-l border-l-transparent border-r border-r-transparent dark:text-white text-black;
}

.error-char {
  @apply border-l border-l-transparent border-r border-r-transparent dark:text-red-500 text-red-500;
}

.caret-char-left {
  @apply border-l border-l-blue-500 border-r border-r-transparent animate-blink-left-caret;
}

.caret-char-left-start {
  @apply border-l border-r border-r-transparent animate-blink-left-caret transition-all;
}

.caret-char-right {
  @apply border-r border-r-blue-500 border-l border-l-transparent animate-blink-right-caret;
}

.caret-char-right-correct {
  @apply border-r border-r-blue-500 border-l border-l-transparent dark:text-white text-black animate-blink-right-caret;
}

.caret-char-right-error {
  @apply border-r border-r-blue-500 border-l border-l-transparent dark:text-red-500 text-red-500 animate-blink-right-caret;
}

.caret-extra-char-right-error {
  @apply border-r border-r-blue-500 border-l border-l-transparent dark:text-red-500 text-red-500 animate-blink-right-caret;
}

.hidden-input {
  @apply opacity-0;
}
